<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Home</span>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
        <ul fxLayout fxLayoutGap="30px" class="navigation-items">
            <li>
                <a routerLink="/pages/home">Home</a>
            </li>
        </ul>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items" *ngIf="!(isLoggedIn$ | async)">
            <li>
                <a routerLink="/auth/login">Login</a>
            </li>
        </ul>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items" *ngIf="isLoggedIn$ | async">
            <li>
                <a routerLink="/auth/logout">Logout</a>
            </li>
        </ul>
    </div>
</mat-toolbar>
