<mat-card class="landmark-container" *ngFor="let landmark of landmarks">
    <mat-card-content>

        <div class="container">
            <div fxLayout="row" fxLayout.xs="column" fxFlex fxLayoutGap="20px">
                <div class="image-container">
                    <img
                        [src]="landmark.photo_thumb ?
                                landmark.photo_thumb.url :
                                'https://via.placeholder.com/250x250?text=Image+Not+Found+!'"
                        (click)="openDialog(landmark.photo ? landmark.photo.url : '')"
                    >
                </div>
                <div fxFlex>
                    <div fxLayout="row" class="title-row">
                        <p class="title-col">
                            <a [routerLink]="['/pages/view', landmark.objectId]">{{ landmark.title }}</a>
                        </p>
                    </div>
                    <div fxLayout="row">
                        <p class="short_info">{{ landmark.short_info }}</p>
                    </div>
                </div>

            </div>
                
        </div>

    </mat-card-content>
</mat-card>