<div class="note-allowed-content">
    <mat-card>

        <mat-card-content>
            <div id="main" class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <h1>403 Access Denied</h1>
                            <p>
                                <br>
                                You don't have permission to access this page
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" (click)="backClicked()">Go back</button>
            <button mat-button color="primary" (click)="homeClicked()">Go to homepage</button>
          </mat-card-actions>
    </mat-card>
</div>
