<mat-nav-list>

    <a mat-list-item
        routerLink="/pages/home"
        (click)="onSidenavClose()">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Home</span>
    </a>

    <a mat-list-item *ngIf="(isLoggedIn$ | async) === false"
        routerLink="/auth/login"
        (click)="onSidenavClose()">
        <mat-icon>arrow_forward</mat-icon>
        <span class="nav-caption">Login</span>
    </a>

    <a mat-list-item *ngIf="isLoggedIn$ | async"
        routerLink="/auth/logout"
        (click)="onSidenavClose()">
        <mat-icon>arrow_back</mat-icon>
        <span class="nav-caption">Logout</span>
    </a>

</mat-nav-list>
