<mat-card class="landmark-container" *ngIf="landmark">
    <mat-card-content>

        <div class="container">

            <div fxLayout="row" fxLayout.lt-lg="column" fxFlex fxLayoutGap="20px">
                <div class="image-container">
                    <img
                        [src]="landmark.photo ?
                                landmark.photo.url :
                                'https://via.placeholder.com/400x400?text=Image+Not+Found+!'"
                        (click)="openDialog(landmark.photo ? landmark.photo.url : '')"
                    >
                </div>
                <div fxFlex>
                    <div class="row" class="title-row">
                        <p class="title-col">{{ landmark.title }}</p>
                    </div>
                    <div class="row" class="link-row">
                        <div class="col" class="link-container">
                            <a class="btn btn-primary btn-lg" [routerLink]="['/pages/edit', landmark.objectId]" role="button">Edit Landmark</a>
                        </div>
                        <div class="col" class="link-container">
                            <a class="btn btn-primary btn-lg" href="{{ landmark.url }}" target="_blank" role="button">Visit Landmark's Page</a>
                        </div>
                    </div>
                </div>
                <div class="map-container">
                    <app-leaflet-map [location]="landmark.location" [title]="landmark.title"></app-leaflet-map>
                </div>
            </div>

        </div>

        <div class="description-container">
            <p>{{ landmark.description }}</p>
        </div>

    </mat-card-content>
</mat-card>


