<div class="container" *ngIf="landmark">
    <div class="row">
        <div class="col">
            <img width="250" height="250"
                [src]="landmark.photo_thumb ?
                        landmark.photo_thumb.url :
                        'https://via.placeholder.com/250x250?text=Image+Not+Found+!'"
                (click)="openDialog(landmark.photo.url)"
            >
        </div>
        <div class="col">
            <h2>{{ landmark.title }}</h2>
            <p>{{ landmark.description }}</p>
            <a class="btn btn-primary btn-lg" href="{{ landmark.url }}" target="_blank" role="button">Go to offical {{ landmark.title }} page...</a>
        </div>
    </div>
    <div class="row">
        <button type="button" mat-button color="primary" (click)="onClickEdit()">Edit Landmark</button>
    </div>
    <div class="row">
        <div class="col">
            <app-leaflet-map [location]="landmark.location" [title]="landmark.title"></app-leaflet-map>
        </div>
    </div>
</div>
